.align {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: whitesmoke;
}

.rounded-border {
  border-radius: 8px;
}

.detail-label:not(:nth-child(1)) {
  margin-top: 6px !important;
}

.divider {
  height: 1px;
  background-color: #ccc;
}

.result-row {
  transition: all 250ms ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.result-row:hover {
  background-color: #eee;
}

#start-page:not(.open),
#detail-page:not(.open),
#search-page:not(.open),
#favorites-page:not(.open) {
  display: none;
}
