img {
  width: 25%;
  height: 25%;
}

button {
  background-color: rgb(194, 175, 162);
  border: 3px solid;
}
button:hover {
  background-color: rgba(194, 175, 162, 70%);
  cursor: pointer;
}

#start-page,
#detail-page,
#search-page,
#favorites-page {
  display: none;
}

#start-page.open,
#detail-page.open,
#search-page.open,
#favorites-page.open,
#search-result.open {
  display: block;
}

.link {
  cursor: pointer;
}

body {
  color: black;
  font-weight: 900;
}

#search-result {
  display: none;
  border: black 5px solid;
  max-height: fit-content;
}

#search-result li {
  display: flex;
  margin: 5px;
}

#search-result li:hover {
  cursor: pointer;
  color: blue;
}

.favorite-button {
  color: red;
}

.favorite-button:hover {
  color: rgb(rgba(255, 0, 0, 80), green, blue);
  cursor: crosshair;
}
